@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}

.gradient-text {
  background: linear-gradient(to right, #fff, #b4c5c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideLeftRight 10s linear infinite; 
}

@keyframes slideLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* .animate-img{
  animation: rotate 3s linear infinite;
} */

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
